@font-face {
  font-family: "MuseoSansRegular";
  src: url("../assets/fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("../assets/fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../assets/fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
  url("../assets/fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}