@font-face {
  font-family: 'montserratregular';
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}