$medium: '640px';
$big: '980px';
$large: '1024px';

$color-1: #3a3f41;
$color-2: #169fb5;
$color-3: #242b2d;
$color-4: #2c2631;
$color-5: #857891;
$color-6: #ba3583;
$color-7: #eaeaeb;
$color-8: #497e84;
