@import '../variables.scss';

.attention-block {
  background-color: $color-7;
  .container {
    overflow: hidden;
    background-color: $color-4;
    position: relative;
    white-space: nowrap;
  }
  p {
    float: left;
    display: inline-block;
    color: $color-5;
    margin: 34px 0 0 28px;
    max-width: 100%;
    font-size: 0.6rem;
    letter-spacing: -0.1px;
    @media (min-width: $medium) {
      margin: 68px 0 0 54px;
      font-size: 1.25rem;
      letter-spacing: -0.2px;
    }
    @media (min-width: $big) {
      margin: 100px 0 0 82px;
      font-size: 2rem;
      letter-spacing: -1px;
    }
    @media (min-width: $large) {
      margin: 108px 0 0 86px;
      letter-spacing: -0.35px;
    }
  }
  .arrow {
    background-color: $color-6;
    width: 70px;
    height: 76px;
    position: relative;
    display: inline-block;
    white-space: normal;
    float: right;
    @media (min-width: $medium) {
      width: 142px;
      height: 150px;
    }
    @media (min-width: $big) {
      width: 218px;
      height: 232px;
    }
    @media (min-width: $large) {
      width: 228px;
      height: 244px;
    }
    span {
      border: solid #fff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      position: absolute;
      left: 45%;
      top: 48%;
      transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: rotate(-45deg);
      ms-transform: rotate(-45deg);
      @media (min-width: $medium) {
        border-width: 0 4px 4px 0;
        padding: 8px;
      }
      @media (min-width: $big) {
        border-width: 0 6px 6px 0;
        padding: 12px;
      }
    }

  }
}