@import '../variables.scss';

.header {
  background-color: $color-7;
  .container {
    background-color: $color-1;
  }
  .main-menu-block {
    overflow: hidden;
    .navigation-title {
      color: #fff;
      cursor: default;
      float: left;
      font-size: 0.8rem;
      letter-spacing: -0.4px;
      line-height: 2.4rem;
      margin: 0;
      padding-left: 17px;
      @media (min-width: $medium) {
        font-size: 1.6rem;
        line-height: 4.6rem;
        padding-left: 36px;
        letter-spacing: -1px;
      }
      @media (min-width: $big) {
        display: none;
      }
    }
    .hamburger {
      background-color: $color-3;
      cursor: pointer;
      float: right;
      padding: 8px 12px;
      text-align: center;
      &:before, &:after, & > span {
        background-color: #fff;
        content: '';
        display: block;
        height: 2px;
        margin: 4px 0;
        width: 16px;
      }
      @media (min-width: $medium) {
        padding: 22px 14px;
        &:before, &:after, & > span {
          width: 32px;
          height: 4px;
          margin: 4px 10px;
        }
      }
      @media (min-width: $big) {
        display: none;
      }
    }

    .main-menu {
      clear: both;
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 6px;
      transition: max-height 0.3s ease;
      @media (min-width: $medium) {
        padding-left: 26px;
      }
      @media (min-width: $big) {
        display: block;
        padding-left: 42px;
      }
      &.active {
        display: block;
      }
      & > li {
        margin: 4px 12px;
        @media (min-width: $big) {
          display: inline-block;
          margin: 0 12px;
          padding: 0;
        }
        a {
          color: #fff;
          display: inline-block;
          font-size: 0.6rem;
          letter-spacing: 0.8px;
          line-height: 1rem;
          text-decoration: none;
          text-transform: uppercase;
          transition: color 0.3s ease;
          @media (min-width: $medium) {
            font-size: 0.8rem;
            line-height: 1.2rem;
          }
          @media (min-width: $big) {
            font-size: 0.8rem;
            line-height: 5.8rem;
            letter-spacing: 1.2px;
            margin-top: 6px;
          }
          &:hover {
            color: $color-2;
          }
        }
      }

    }

  }
}