@import '../variables.scss';

.welcome-block {
  background-color: $color-2;
  position: relative;
  .container {
    min-height: 260px;
    height: 260px;
    display: table;
    @media (min-width: $big) {
      min-height: 576px;
      height: 576px;
    }
  }
  .content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 20px;
    @media (min-width: $big) {
      padding: 0 198px 0 82px;
    }
  }
  h1 {
    color: #fff;
    margin-top: 30px;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: normal;
    letter-spacing: 4.2px;
    @media (min-width: $big) {
      font-size: 3.5rem;
      line-height: 4.4rem;
    }
  }
  .welcome-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 18px;
    display: block;
    position: relative;
    padding-right: 40px;
    letter-spacing: 2px;
    @media (min-width: $big) {
      margin-top: 42px;
      font-size: 2rem;
      line-height: 1.8rem;
    }
    .link-url {
      opacity: 0.8;
      vertical-align: middle;
    }
    .arrow {
      border: solid #fff;
      border-width: 0 3px 3px 0;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      padding: 6px;
      position: absolute;
      right: 24px;
      top: 14px;
    }
  }

}