@import '../variables.scss';

.welcome-block {
  background-color: $color-7;
  position: relative;
  .container {
    width: 100%;
    background-color: $color-2;
    background: -moz-linear-gradient(top, #22b1ca 0%, #1289a5 100%);
    background: -webkit-linear-gradient(top, #22b1ca 0%, #1289a5 100%);
    background: linear-gradient(to bottom, #22b1ca 0%, #1289a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22b1ca', endColorstr='#1289a5', GradientType=0);
    min-height: 174px;
    height: 174px;
    display: table;
    @media (min-width: $medium) {
      min-height: 350px;
      height: 350px;
      width: 100%;
    }
    @media (min-width: $big) {
      min-height: 550px;
      height: 550px;
    }
    @media (min-width: $large) {
      height: 576px;
    }
  }
  .content {
    display: table-cell;
    vertical-align: middle;
    padding: 14px 0 26px 26px;
    @media (min-width: $medium) {
      padding: 26px 0 26px 52px;
      text-align: left;
    }
    @media (min-width: $big) {
      padding: 20px 190px 0 78px;
    }
    @media (min-width: $large) {
      padding: 28px 190px 0 84px;
    }
  }
  h1 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.35rem;
    font-weight: normal;
    letter-spacing: 0.35px;
    max-width: 230px;
    @media (min-width: $medium) {
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 2.6rem;
      line-height: 2.7rem;
      letter-spacing: -1.8px;
      max-width: 460px;
    }
    @media (min-width: $big) {
      font-size: 3.8rem;
      line-height: 4rem;
      letter-spacing: -0.6px;
      max-width: 760px;
      margin-top: 0;
    }
    @media (min-width: $large) {
      max-width: 740px;
      letter-spacing: 0.9px;
      line-height: 4.4rem;
    }
  }
  .welcome-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.7rem;
    line-height: 1rem;
    display: block;
    position: relative;
    max-width: 230px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    margin-top: 12px;
    &:hover {
      color: $color-6;
      border-color: $color-6;
      .arrow {
        border-color: $color-6;
      }
    }
    @media (min-width: $medium) {
      margin-top: 24px;
      font-size: 1.3rem;
      line-height: 1.5rem;
      letter-spacing: 0.7px;
      max-width: 460px;
    }
    @media (min-width: $big) {
      margin-top: 44px;
      font-size: 2rem;
      line-height: 1.8rem;
      max-width: 760px;
      letter-spacing: 1.3px;
    }
    @media (min-width: $large) {
      margin-top: 42px;
      max-width: 740px;
      letter-spacing: 2.2px;
    }
    .link-url {
      opacity: 0.8;
      vertical-align: middle;
    }
    .arrow {
      border: solid #fff;
      display: inline-block;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-width: 0 2px 2px 0;
      padding: 3px;
      position: absolute;
      right: 6px;
      top: 6px;
      transition: border-color 0.3s ease;
      @media (min-width: $medium) {
        border-width: 0 3px 3px 0;
        right: 8px;
        padding: 6px;
      }
      @media (min-width: $big) {
        border-width: 0 3px 3px 0;
        right: 24px;
        top: 14px;
        padding: 6px;
      }
    }
  }

}