.image-gallery {
  overflow: hidden;
  position: relative; }
  .image-gallery .images {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 420px;
    width: 9999px;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    position: relative; }
    .image-gallery .images .image {
      border: 1px solid red;
      float: left;
      height: 100%;
      overflow: hidden;
      position: relative;
      max-width: 640px; }
      @media (min-width: 640px) {
        .image-gallery .images .image {
          max-width: 980px; } }
      .image-gallery .images .image img {
        display: inline-block;
        max-width: 100%;
        height: auto; }
  .image-gallery .slider-arrows {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle; }
    .image-gallery .slider-arrows .arrow-right, .image-gallery .slider-arrows .arrow-left {
      overflow: hidden;
      color: #169fb5;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 0.6;
      width: 50px;
      height: 80px;
      font-size: 10rem;
      line-height: 3rem;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
      .image-gallery .slider-arrows .arrow-right:hover, .image-gallery .slider-arrows .arrow-left:hover {
        opacity: 1; }
    .image-gallery .slider-arrows .arrow-right {
      right: 10px; }
    .image-gallery .slider-arrows .arrow-left {
      left: 10px; }
  .image-gallery .pagination {
    padding: 8px 0;
    text-align: center; }
    .image-gallery .pagination .link {
      cursor: pointer;
      margin: 0 6px;
      width: 14px;
      height: 14px;
      display: inline-block;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #555;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .image-gallery .pagination .link.active {
        background-color: #169fb5; }
